/* My solution to the challenge presented in section 8 of the course:
The Complete 2023 Web Development Bootcamp. */

body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

span{
  color: purple;
}

.left{
  width: 45%;
  float: left;
}

.right{
  width: 45%;
  float: right;
}

img[alt="hand and flower in water"] {
  margin: 20px;
  width: 45%;
  float: left;
}

img[alt="metal structure"] {
  margin: 20px;
  width: 45%;
  float: left;
}

footer {
  text-align: right;
  color: midnightblue;
  clear: both;
}

@media (max-aspect-ratio: 3/2) {
  
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  
  .left{
    width: 100%;
    float: none;
  }
  
  .right{
    width: 100%;
    float: none;
  }
  
  img[alt="hand and flower in water"] {
    margin: 20px;
    width: 100%;
    float: none;
  }
  
  img[alt="metal structure"] {
    margin: 20px;
    width: 100%;
    float: none;
  }

}